pydantic==2.9.2
pydantic-settings==2.6.1
fastapi==0.115.4
uvicorn[standard]==0.32.0
python-jose[pycryptodome]==3.3.0
motor==3.6.0
pymongo==4.9.2
aiohttp==3.10.10
pycryptodome==3.21.0
fastapi-cache2[redis]==0.2.2
fastapi-cache2[memcache]==0.2.2
sentry-sdk[fastapi]==2.18.0
httpx==0.27.0
httpx-ws==0.6.0
pytest==8.2.1
pytest-asyncio==0.23.7
asgi-lifespan==2.1.0
